<div class='card'>
  <div class='card-header'>
      Lista candidatilor 
  </div>
  <div class="card-body">
    <div class='row'>
      <div class ='col-md-2'>Filtrare dupa nume:</div>
      <div class = 'col-md-4'>
          <input type="text" [(ngModel)] = 'listFilter'>  
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table" *ngIf='candidatiFiltrate && candidatiFiltrate.length'>
        <thead>
            <tr>
                <td>Nume</td>
                <th>Tip Contract</th>
                <th>Data Contract</th>
                <th>Email</th>
                <th>Editare Date</th>
                <th>Stergere</th>
            </tr>        
        </thead>
        <tbody>
          
            <tr *ngFor='let candidat of candidatiFiltrate'>
                <td>
                  <a [routerLink]="['/candidati', candidat.uid]">{{candidat.prenumeSalariat}} {{candidat.numeSalariat}}</a>        
                </td>  
                <td>{{candidat.tipContract}}</td>
                <td>{{candidat.dataContract}}</td>
                <td>{{candidat.mail}}</td>
                <td>
                    <button  class="btn btn-outline-info">
                        <i class="fa fa-minus-circle"> Editare</i>
                    </button>
                <td>
                  <button (click)="delete(candidat.uid)" class="btn btn-outline-danger" disabled>
                      <i class="fa fa-minus-circle"> Stergere</i>
                  </button>
              </td>
            </tr>
        </tbody>
    </table>
</div>
  <div class='card-footer'>  
  </div>
</div>