<div class='card'>
  <div class='card-header'>
      Lista angajati 
  </div>
  <div class="card-body">
    <div class='row'>
      <div class ='col-md-2'>Filtrare dupa nume:</div>
      <div class = 'col-md-4'>
          <input type="text" [(ngModel)] = 'listFilter'>  
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table" *ngIf='angajatiFiltrate && angajatiFiltrate.length'>
        <thead>
            <tr>
                <th>Nume Angajat</th>
                <th>Email</th>
                <th>Firma</th>
            </tr>        
        </thead>
        <tbody>
            <tr *ngFor='let angajat of angajatiFiltrate'>
                <td><a [routerLink]="['/angajati', angajat.id]"> {{angajat.nume}}</a></td>
                <td>{{angajat.email}}</td>
                <td>{{angajat.firma}}</td>
            </tr>
        </tbody>
    </table>
</div>
  <div class='card-footer'>  
  </div>
</div>