<div class='card'>
  <div class='card-header'>
      Lista utilizatori 
  </div>
  <div class="card-body">
    <div class='row'>
      <div class ='col-md-4' style="margin-left:0px;">
          <button class="btn btn-outline-info"
          style="width: 100%;" 
          type="submit"
          (click)="adaugaAngajat()"
          >Adaugă Utilizator</button>
      </div>
    </div>
    <br>

    <div class='row'>
      <div class ='col-md-2'>
        <p>
          Filtrare dupa nume:
        </p>
      </div>
      <div class = 'col-md-2'>
          <input type="text" [(ngModel)] = 'listFilter' style="width:100%;">  
      </div>
    </div>
  </div>

  <div class="table-responsive" style="margin-left:10px; margin-right:10px; width:98%">
    <table class="table" *ngIf='angajatiFiltrate && angajatiFiltrate.length'>
        <thead>
            <tr>
                <th style="font-size: medium;">Nume utilizator</th>
                <th>Email</th>
                <th>Stergere</th>
            </tr>        
        </thead>
        <tbody>
            <tr *ngFor='let angajat of angajatiFiltrate'>
                <td><a [routerLink]="['/utilizatori', angajat.email]"> {{angajat.nume}}</a></td>
                <td>{{angajat.email}}</td>
                <td>
                  <button (click)="delete(angajat.email)" class="btn btn-outline-danger">
                      <i class="fa fa-minus-circle"> Stergere</i>
                  </button>
              </td>
            </tr>
        </tbody>
    </table>
</div>
<div class='card-footer text-right' style="align-items:flex-end;"> 
  <a target="_blank" style="color: gray;">
      <i class="fa fa-facebook-f"></i> 
    </a>
  &nbsp;&nbsp;&nbsp;  
  <a href="http://www.github.com/dekideian" target="_blank" class="footer-links" style="color: gray;">
    <i class="fa fa-github"> </i>
  </a>
</div>
</div>