<div class="container-fluid">
    <div class="text-left">
      
        <form (ngSubmit)="submit(formDirective)" [formGroup]="myForm" #formDirective="ngForm" >
            <div class="form-group row mb-12">
                <div class="col-md-12">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Nume contact</mat-label>
                            <input 
                                formControlName="name"
                                id="name" 
                                matInput
                                type="text" 
                                class="form-control"
                                [ngClass]="{'is-invalid': (myForm.get('name').touched) &&
                                        !myForm.get('name').valid }"
                                >
                                <span class="invalid-feedback">
                                    <span *ngIf="myForm.get('name').errors?.required">
                                        Va rugam introduceti un nume
                                    </span>
                                </span>  
                    </mat-form-field>   
                </div>
            </div>
            <div class="form-group row mb-12">
                <div class="col-md-12">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Email</mat-label>
                            <input 
                                formControlName="email"
                                id="email" 
                                matInput
                                type="text" 
                                class="form-control"
                                [ngClass]="{'is-invalid': (myForm.get('email').touched ||
                                        myForm.get('email').dirty) &&
                                        !myForm.get('email').valid }">

                            <span class="invalid-feedback">
                                <span *ngIf="myForm.get('email').errors?.required">
                                    Va rugam introduceti un email
                                </span>
                                <span *ngIf="myForm.get('email').errors?.email">
                                    Emailul nu este valid
                                </span>
                            </span>  
                         </mat-form-field> 
                </div>
            </div>
            <div class="form-group row mb-12">
                <div class="col-md-12">
                        <button class="btn btn-primary" 
                    style="width: 100%;"
                    type="submit"
                    [disabled]="!myForm.valid"
                    >Salveaza contact</button>
                </div>
            </div>
        </form>
    <br>
  </div>