<div class='card'>
    <div class='card-header'>
        Lista firmelor 
    </div>
    <div class="card-body">
      <div class='row'>
        <div class ='col-md-2'>Filtrare dupa nume:</div>
        <div class = 'col-md-4'>
            <input type="text" [(ngModel)] = 'listFilter'>  
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table" *ngIf='firmeFiltrate && firmeFiltrate.length'>
          <thead>
              <tr>
                  <th>Nume firma</th>
                  <th>Cod firma</th>
                  <th>Responsabil RosBP</th>
                  <th>Responsabil Firma</th>
                  <th>Stergere</th>
              </tr>        
          </thead>
          <tbody>
              <tr *ngFor='let firma of firmeFiltrate'>
                 
                
                  <td>
                      <a 
                        [routerLink]="['/firme', firma.uid]"
                        [queryParams]="{ nume: firma.nume }"  
                             > {{firma.nume}}
                        </a></td>
                  <td>{{firma.codFirma}}</td>
                  <td>{{firma.angajatRos}}</td>
                  <td>{{firma.angajatFirma}}</td>
                  <td>
                    <button (click)="delete(firma.uid)" class="btn btn-outline-danger">
                        <i class="fa fa-minus-circle"> Stergere</i>
                    </button>
                </td>
              </tr>
          </tbody>
      </table>
      <!-- <li *ngIf="auth.isRosBpEmployee(auth.user$ | async)"><a class="nav-link" [routerLink]="['/firme/adauga']">Adauga firma</a></li> -->
  </div>
    <div class='card-footer'>  
    </div>
</div>