<div class='card'>
    <div class='card-header'>
        Adauga firma
    </div>
    <div class="card-body">
        <div class="container-fluid">
          <div class="text-left">
            <form (ngSubmit)="save()" [formGroup]="firmeGroup"> 
                
                <div class="form-group row mb-12">
                    <div class="col-md-4">
                        <mat-form-field class="atribut-candidat">
                            <mat-label>Nume firma</mat-label>
                            <input id="firmaName" 
                                type = "text" 
                                matInput 
                                formControlName="firmaName"
                                [ngClass]="{'is-invalid': (firmeGroup.get('firmaName').touched ||
                                firmeGroup.get('firmaName').dirty) &&
                                !firmeGroup.get('firmaName').valid }"
                                >
                                <span class="invalid-feedback">
                                    <span *ngIf="firmeGroup.get('firmaName').errors?.required">
                                        Va rugam introduceti numele firmei client
                                    </span>
                                    <span *ngIf="firmeGroup.get('firmaName').errors?.minlength">
                                        Numele firmei client are lungimea minima 2 caractere
                                    </span>
                                </span>  
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group row mb-12">
                    <div class="col-md-4">
                        <mat-form-field class="atribut-candidat">
                            <mat-label>Sediul in</mat-label>
                            <input id="sediu" 
                                type = "text" 
                                matInput 
                                formControlName="sediu"
                                [ngClass]="{'is-invalid': (firmeGroup.get('sediu').touched ||
                                firmeGroup.get('sediu').dirty) &&
                                !firmeGroup.get('sediu').valid }"
                                >
                                <span class="invalid-feedback">
                                    <span *ngIf="firmeGroup.get('sediu').errors?.required">
                                        Va rugam introduceti sediul firmei client
                                    </span>
                                    <span *ngIf="firmeGroup.get('sediu').errors?.minlength">
                                        Numele sediului firmei client are lungimea minima 2 caractere
                                    </span>
                                </span>  
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group row mb-12">
                    <div class="col-md-4">
                        <mat-form-field class="atribut-candidat">
                            <mat-label>Inregistrata la registrul comertului in </mat-label>
                            <input id="regComert" 
                                type = "text" 
                                matInput 
                                formControlName="regComert"
                                [ngClass]="{'is-invalid': (firmeGroup.get('regComert').touched ||
                                firmeGroup.get('regComert').dirty) &&
                                !firmeGroup.get('regComert').valid }"
                                >
                                <span class="invalid-feedback">
                                    <span *ngIf="firmeGroup.get('regComert').errors?.required">
                                        Va rugam introduceti registrul comertului unde a fost inregistrata firma client
                                    </span>
                                    <span *ngIf="firmeGroup.get('regComert').errors?.minlength">
                                        Numele registrul comertului are lungimea minima 2 caractere
                                    </span>
                                </span>  
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group row mb-12">
                    <div class="col-md-4">
                        <mat-form-field class="atribut-candidat">
                            <mat-label>Nr firma</mat-label>
                            <input id="nr" 
                                type = "text" 
                                matInput 
                                formControlName="nr"
                                [ngClass]="{'is-invalid': (firmeGroup.get('nr').touched ||
                                firmeGroup.get('nr').dirty) &&
                                !firmeGroup.get('nr').valid }"
                                >
                                <span class="invalid-feedback">
                                    <span *ngIf="firmeGroup.get('nr').errors?.required">
                                        Va rugam introduceti numarul firmei client
                                    </span>
                                    <span *ngIf="firmeGroup.get('nr').errors?.minlength">
                                        Numarul firmei client are lungimea minima 2 caractere
                                    </span>
                                </span>  
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group row mb-12">
                    <div class="col-md-4">
                        <mat-form-field class="atribut-candidat">
                            <mat-label>CUI firma</mat-label>
                            <input id="cui" 
                                type = "text" 
                                matInput 
                                formControlName="cui"
                                [ngClass]="{'is-invalid': (firmeGroup.get('cui').touched ||
                                firmeGroup.get('cui').dirty) &&
                                !firmeGroup.get('cui').valid }"
                                >
                                <span class="invalid-feedback">
                                    <span *ngIf="firmeGroup.get('cui').errors?.required">
                                        Va rugam introduceti CUI firmei client
                                    </span>
                                    <span *ngIf="firmeGroup.get('cui').errors?.minlength">
                                        CUI firma client are lungimea minima 2 caractere
                                    </span>
                                </span>  
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group row mb-12">
                    <div class="col-md-4">
                        <mat-form-field class="atribut-candidat">
                            <mat-label>Reprezentant legal</mat-label>
                            <input id="rep" 
                                type = "text" 
                                matInput 
                                formControlName="rep"
                                [ngClass]="{'is-invalid': (firmeGroup.get('rep').touched ||
                                firmeGroup.get('rep').dirty) &&
                                !firmeGroup.get('rep').valid }"
                                >
                                <span class="invalid-feedback">
                                    <span *ngIf="firmeGroup.get('rep').errors?.required">
                                        Va rugam introduceti numele reprezentantului legal al firmei client
                                    </span>
                                    <span *ngIf="firmeGroup.get('rep').errors?.minlength">
                                        Reprezentantul firmei client are lungimea minima 2 caractere
                                    </span>
                                </span>  
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group row mb-12">
                    <div class="col-md-4">
                        <mat-form-field class="atribut-candidat">
                            <mat-label>Telefon</mat-label>
                            <input id="telefon" 
                                type = "text" 
                                matInput 
                                formControlName="telefon"
                                [ngClass]="{'is-invalid': (firmeGroup.get('telefon').touched ||
                                firmeGroup.get('telefon').dirty) &&
                                !firmeGroup.get('telefon').valid }"
                                >
                                <span class="invalid-feedback">
                                    <span *ngIf="firmeGroup.get('telefon').errors?.required">
                                        Va rugam introduceti telefonul de contact al firmei client
                                    </span>
                                    <span *ngIf="firmeGroup.get('telefon').errors?.minlength">
                                        Numele firmei client are lungimea minima 2 caractere
                                    </span>
                                </span>  
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group row mb-12">
                    <div class="col-md-4">
                    <!-- <div class="col-md-1 col-form-label"></div> -->
                    <button class="btn btn-outline-info col-form-label"
                        style=" width: 100%;" 
                        type="submit"
                        [disabled]="!firmeGroup.valid"
                        >Salveaza Firma</button>
                    </div>
                </div>  
            </form>
          </div>
        </div>
 
    <br>
    </div>
    <div class='card-footer'>       
        <button class="btn btn-outline-secondary" (click)="goBack();">
            <i class="fa fa-chevron-left"></i> Back</button>
    </div>
</div>