<div class='card'>
    <div class='card-header'>
        Salariati detalii 
    </div>
    <div class="card-body">
      <div class="form-group row mb-12">
        <div class="col-md-4">
          <h2>CIM</h2>
            <ul>
              <li><a class="btn btn-link" href="{{templateDetails?.documentUrl}}" target="_blank">Download CIM cadru.</a></li> 
              <li> <button class="btn btn-link" (click)="downloadCimGenerat()">Download CIM generat</button> </li>
              <li> <button class="btn btn-link" (click)="csvExport()">Download CSV date salariat</button> </li>
            </ul>
        </div>     
      </div>
      <div class="form-group row mb-12">
        <div class="col-md-12">
        <hr>
        </div>     
      </div>
        <div class="form-group row mb-12">
          <div class="col-md-3" style="margin-top:0px;">
            <h2>Atasare fisiere</h2>
<!-- Upload file  -->
              <app-upload-file [filePath] = "'pdfs'" 
              (uploadedFile)="newFileUploaded($event)">
            </app-upload-file>
          </div>
          <div class="col-md-9" style="margin-top:38px;">
<!-- DISPLAY DATA -->
                        <div class="table-responsive">
                          <table class="table" *ngIf='files && files.length'>
                              <thead>
                                  <tr>
                                      <td>Nume</td>
                                      <th>Data</th>
                                      <th>Autor</th>
                                      <th>Download</th>
                                      <th>Stergere</th>
                                  </tr>        
                              </thead>
                              <tbody>
                                  <tr *ngFor='let file of files'>
                                    <td>
                                      {{file.nume}}
                                      <!-- <a [routerLink]="['/candidati', candidat.uid]">{{candidat.prenumeSalariat}} {{candidat.numeSalariat}}</a>         -->
                                    </td>  
                                    <td>{{file.data}}</td>
                                    <td>{{file.autor}}</td>
                                    <td><a href="{{file.documentUrl}}" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a></td>
                                    <td>
                                      <button (click)="deleteFile(file.uid, file.documentUrl)" class="btn btn-outline-danger">
                                        <i class="fa fa-minus-circle"> Stergere</i>
                                      </button>
                                    </td>
                    
                                  </tr>
                              </tbody>
                          </table>
                        </div>
                      </div>
        </div>
        
<h2>cod firma candidat {{salariat?.codFirma}}</h2>
    </div>
    <div class='card-footer'>
      <button class="btn btn-outline-secondary" (click)="goBack();">
        <i class="fa fa-chevron-left"></i> Salariati</button>
    </div>
     