<div class='card'>
<!-- Header   -->
    <div class='card-header'>
      Acasă
    </div>
    <div class="card-body">
        <div class="container-fluid">
<!-- Content           -->
          <div style="width: 100%; background-color: lightblue;"  style="align-items:flex-end;">
            <div class='row' style="width: 100%; background-color: #fefefe;">
              <br>

              <div class ='col-md-12' style="width: 100%;">
                 
                <h3 class="entry-title"><strong> Utilizare produs</strong></h3>
                <p>
                  Aceasta platforma a fost creata cu scopul de a fi folosita de catre angajatii RosBP. 
                </p>
                <p>
                  Informatiile sunt securizate, autentificarea in sistem este necesara, iar adaugarea unui rol, 
                  de catre administratorul acestei platforme.   
                </p>
                <p>
                  Pentru mai multe drepturi pe aceasta platforma 
                  <a href="mailto:deki.deian@gmail.com?subject=Ros-bp drepturi platforma&body=Salut, doresc mai multe drepturi pe platforma ros-bp.">dati mail.</a>
                </p>        
                        
                <br>
                  <strong>
                   <p style="font-size: medium;"> Functionalitati </p>
                  </strong>
                  <ul>
                    <li style="font-size: medium;">Generare .csv date</li>
                    <li style="font-size: medium;">Generare CIM customizat/firma</li>
                    <li style="font-size: medium;">Diverse validari de date</li>
                  </ul>
              </div>
            </div> 
          </div>
        </div>
      </div>
<!-- Footer       -->
      <div class='card-footer text-right' style="align-items:flex-end;"> 
          <div class="row">
              <div class ='col-md-6 text-left' >
                <cite class = "quote">
                  “{{this.quote?.text}}“  {{this.quote?.author}}
                </cite>
                
              </div>
              <div class="col-md-6">
                  <a target="_blank" style="color: gray;">
                    <i class="fa fa-facebook-f"></i> 
                  </a>
                  &nbsp;&nbsp;&nbsp;  
                  <a href="http://www.github.com/dekideian" target="_blank" class="footer-links" style="color: gray;">
                    <i class="fa fa-github"> </i>
                  </a>
              </div>
          </div>
        
        
      </div>
    </div>