<div class="container-fluid">
    <div class="text-left">
      
    <h3>Upload file</h3>
<!-- 
    [ngClass]="{'is-invalid': (candidatiGroup.get('nrContract').touched ||
    candidatiGroup.get('nrContract').dirty) &&
    !candidatiGroup.get('nrContract').valid }"  -->

    <!-- <mat-form-field class="atribut-candidat">
        <mat-label>Nume fisier</mat-label>
        <input id="name" type = "text" 
            matInput 
            formControlName="name"
            class="form-control"
            >
            <span class="invalid-feedback">
                <span *ngIf="candidatiGroup.get('nrContract').errors?.required">
                    Va rugam introduceti {{atributCandidat.nrContract}}
                </span>
                <span *ngIf="candidatiGroup.get('nrContract').errors?.minlength">
                    Minim 3 caractere
                </span> 
            </span>   
        </mat-form-field> -->


    <form [formGroup]="myForm" (ngSubmit)="submit()">
  
        <div class="form-group">
            <label for="file">Urca fisier</label>
            <input 
                formControlName="file"
                id="file" 
                type="file" 
                class="form-control"
                (change)="onFileChange($event)">
            <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                <div *ngIf="f.file.errors.required">File is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="name">Nume fisier</label>
            <input 
                formControlName="name"
                id="name" 
                type="text" 
                class="form-control">
            <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                
            </div>
        </div>
                
        <button class="btn btn-primary" type="submit"
            [disabled]="!myForm.valid"
            title="Salvarea unui fisier este posibil dupa ce acesta este selectat"
            >Urca fisier</button>
    </form>
    <br>
  </div>